<td ng-bind="achievementMapName"></td>
<td ng-repeat-start="player in ctrl.getPlayers() track by $index">
  <span class="label" 
        ng-class="{ 'mapDone': player.player_achievements[achievement.No.name].value === '1', 
                    'mapNotDone': player.player_achievements[achievement.No.name] === undefined}">
    No
  </span>
</td>
<td>
  <span class="label" 
        ng-class="{ 'mapDone': player.player_achievements[achievement.Ha.name].value === '1', 
                    'mapNotDone': player.player_achievements[achievement.Ha.name] === undefined}">
    Ha
  </span>
</td>
<td>
  <span class="label" 
        ng-class="{ 'mapDone': player.player_achievements[achievement.Su.name].value === '1', 
                    'mapNotDone': player.player_achievements[achievement.Su.name] === undefined}">
    Su
  </span>
</td>
<td ng-repeat-end class="tdAchievementRight">
  <span class="label" 
        ng-class="{ 'mapDone': player.player_achievements[achievement.He.name].value === '1', 
                    'mapNotDone': player.player_achievements[achievement.He.name] === undefined}">
    He
  </span>
</td>