<md-content flex id="content">
  <div layout="row" layout-sm="column">
    <div flex-gt-sm="70" flex-sm="100">
      <h2>Contact</h2>

      <p>Email : arnaud[dot]sartori[dot]as[at][Google email service][dot]com</p>
      <p>Steam : <a href="http://steamcommunity.com/profiles/76561198004801490/">http://steamcommunity.com/profiles/76561198004801490/</a></p>
      <p><a href="https://www.facebook.com/KillingFloorExperience">Facebook</a></p>
    </div>
    <div flex-gt-sm hide-sm>
    </div>
  </div>
</md-content>
