<md-content flex id="content">
  <div layout="row" layout-sm="column">
    <div flex-gt-sm="40" flex-sm="100">
      <h2>Welcome to Killing Floor 2 Experience !</h2>

      This site allow you to retrieve player stats on Killing Floor 2, a cooperation game for PC available on Steam.
    </div>

    <div flex-gt-sm hide-sm>

    </div>
    <div flex-gt-sm="50" flex-sm="100">
      <form ng-submit="$event.preventDefault()">
        <br>
        <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.steamName"
          placeholder="Search for a player name or a Steam ID">
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.steamName}}</span>
        </md-autocomplete>
        <br/>
      </form>
      <h3>Last updated players</h3>
      <md-list class="lastUpdatedPlayers">
        <md-item ng-repeat="item in ctrl.loadLastUpdatedPlayers">
          <md-item-content >
            <a ng-click="ctrl.addPlayerToStatPage(item.playerId)" class="link_player">
              <table>
                <tr>
                  <td rowspan="2">
                    <img  ng-src="{{item.steamAvatar}}" 
                          class="face" 
                          alt="{{item.steamName}}">
                  </td>
                  <td>
                    <b>{{item.steamName}}</b>
                  </td>
                </tr>
                <tr>
                  <td>Updated at {{item.lastUpdateTime}}</td>
                </tr>
              </table>
            </a>
            <br>
          </md-item-content>
        </md-item>
      </md-list>
    </div>
  </div>
</md-content>
