<md-content flex  class="md-padding" id="content">
  <div layout="row">
    <h2>World Map</h2>
  </div>
  <div layout="row" flex layout-sm="column">
    <div div-map flex-gt-sm="70" flex-sm="100"  flex  layout="row" layout-sm="column" style="height:600px">

    </div>

    <div flex-gt-sm hide-sm>

    </div>
    <div flex-gt-sm="20" flex-sm="100" style="height:600px" layout="column" layout-sm="column">
      <h3 ng-bind="ctrl.cityClicked()"></h3>
      
      <md-list class="lastUpdatedPlayers">
        <md-item ng-repeat="item in ctrl.playersFromCityClicked()">
          <md-item-content class="link_player">
            <div class="md-tile-content">
              <a class="mapPlayerName" ng-click="ctrl.addPlayerToStatPage(item.playerId)">
                {{item.steamName}}
              </a>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </div>
  </div>
</md-content>