<md-content flex  class="md-padding" id="content">
  <div layout-sm="column" layout-gt-sm="row">
    <div flex-gt-sm="50" flex-sm="100">
      <h2>Stats</h2>
    </div>
    <div flex-gt-sm="50" flex-sm="100">
      <form ng-show="ctrl.getPlayersNameList().length" 
            ng-submit="$event.preventDefault()">
        <br>
        <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.steamName"
          placeholder="Search for a player name">
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.steamName}}</span>
        </md-autocomplete>
        <br/>
      </form>
    </div>
  </div>
  <div layout="row" flex layout-sm="column" ng-show="ctrl.getNbPlayers() > 0">
    <md-content>
      <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
        <md-tab label="Profile">
          <md-content class="md-padding">
            <br>
            <table class="table table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td class="tdImgPlayer" 
                      ng-repeat="player in ctrl.getPlayers()">
                    <div layout="row" layout-sm="column" 
                         layout-align="space-around">
                      <md-progress-circular ng-show="player.updating"  
                                            md-mode="indeterminate">
                      </md-progress-circular>
                    </div>
                    <img  ng-hide="player.updating"  
                          class="achievementsImgAvatar" 
                          src="{{player.avatar_medium}}"/>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr class="trOdd">
                  <td>Name</td>
                  <td ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.steam_name">
                  </td>
                </tr>
                <tr class="trEven">
                  <td>Update state</td>
                  <td ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.update_state">
                  </td>
                </tr>
                <tr>
                  <td class="emptyRow"></td>
                </tr>
                <tr class="trOdd">
                  <td>Steam profile</td>
                  <td ng-repeat="player in ctrl.getPlayers()">
                    <a target="_blank" href="{{player.profile_url}}">Steam profile</a>
                  </td> 
                </tr>
                <tr class="trEven">
                  <td>Time played</td>
                  <td ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="ctrl.getReadableTimePlayed(player.time_played)">
                  </td>
                </tr>
                <tr class="trOdd">
                  <td>Achievements</td>
                  <td ng-repeat="player in ctrl.getPlayers() track by $index">
                    {{player.nb_achievements}} / {{ctrl.getNumberOfAchievementsTotal()}}
                  </td>
                </tr>
                <tr class="trEven">
                  <td>Country</td>
                  <td ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.country.country_name"></td>
                </tr>
                <tr class="trOdd">
                  <td>State</td>
                  <td ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.state.state_name"></td>
                </tr>
                <tr class="trEven">
                  <td>City</td>            
                  <td ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.city.city_name"></td>
                </tr>
                <tr class="trOdd">
                  <td></td>            
                  <td ng-repeat="(id, player) in ctrl.getPlayers()">
                    <md-button class="md-warn deleteButton" ng-click="ctrl.removePlayer(id)">Remove</md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
        <md-tab label="Perks">
          <md-content class="md-padding">
            <br>
            <table class="table table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td class="tdImgPlayer" 
                      colspan="5"
                      ng-repeat="player in ctrl.getPlayers()">
                    <div layout="row" layout-sm="column" 
                         layout-align="space-around">
                      <md-progress-circular ng-show="player.updating"  
                                            md-mode="indeterminate">
                      </md-progress-circular>
                    </div>
                    <img  ng-hide="player.updating"  
                          class="achievementsImgAvatar" 
                          src="{{player.avatar_medium}}"/>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr class="trOdd">
                  <td>Name</td>
                  <td ng-repeat="player in ctrl.getPlayers()" 
                      colspan="5"
                      ng-bind="player.steam_name">
                  </td>
                </tr>
                <tr class="trEven">
                  <td>Update state</td>
                  <td ng-repeat="player in ctrl.getPlayers()" 
                      colspan="5"
                      ng-bind="player.update_state">
                  </td>
                </tr>
                <tr class="trOdd">
                  <td>Achievements Perks</td>
                  <td colspan="5" 
                      ng-repeat="player in ctrl.getPlayers()">
                   {{player.nb_achievements_perks_difficulty}} / {{ctrl.getNbAchievementsPerksDifficulty()}}
                  </td>
                </tr>
                <tr>
                  <td class="emptyRow" colspan="5"></td>
                </tr>
                <tr ng-repeat="(achievementPerkName, achievement) in ctrl.getAchievementsPerksDifficultyList()" 
                    ng-class-odd="'trOdd'" 
                    ng-class-even="'trEven'" perk-level>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
        <md-tab label="Skills">
          <md-content class="md-padding">
            <br>
            <table class="table table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td class="tdImgPlayer" 
                      ng-repeat="player in ctrl.getPlayers()">
                    <div layout="row" layout-sm="column" 
                         layout-align="space-around">
                      <md-progress-circular ng-show="player.updating"  
                                            md-mode="indeterminate">

                      </md-progress-circular>
                    </div>
                    <img  ng-hide="player.updating"  
                          class="achievementsImgAvatar" 
                          src="{{player.avatar_medium}}"/>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr class="trOdd">
                  <td>Name</td>
                  <td ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.steam_name">
                  </td>
                </tr>
                <tr class="trEven">
                  <td>Update state</td>
                  <td ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.update_state">
                  </td>
                </tr>    
                <tr ng-repeat="(buildPerkName, buildsPerk) in ctrl.getBuildsList()" 
                    ng-class-odd="'trOdd'" 
                    ng-class-even="'trEven'" build>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
        <md-tab label="Maps">
          <md-content>
            <br>
            <table class="table table-bordered table-striped tableAchivements">
              <thead>
                <tr>
                  <td></td>
                  <td class="tdImgPlayer"  colspan="4" 
                      ng-repeat="player in ctrl.getPlayers()">
                    <div layout="row" layout-sm="column" 
                         layout-align="space-around">
                      <md-progress-circular ng-show="player.updating"  
                                            md-mode="indeterminate">

                      </md-progress-circular>
                    </div>
                    <img  ng-hide="player.updating"  
                          class="achievementsImgAvatar" 
                          src="{{player.avatar_medium}}"/>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr class="trOdd">
                  <td>Name</td>
                  <td colspan="4"
                      ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.steam_name">
                  </td>
                </tr>
                <tr class="trEven">
                  <td>Update state</td>
                  <td colspan="4" 
                      ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.update_state">
                  </td>
                </tr>
                <tr class="trOdd">
                  <td>Achievements Maps</td>
                  <td colspan="4" 
                      ng-repeat="player in ctrl.getPlayers()">
                   {{player.nb_achievements_maps_difficulty}} / {{ctrl.getNbAchievementsMapsDifficulty()}}
                  </td>
                </tr>
                <tr>
                  <td class="emptyRow"></td>
                </tr>
                <tr ng-repeat="(achievementMapName, achievement) in ctrl.getAchievementsMapsList()" 
                    ng-class-odd="'trOdd'" ng-class-even="'trEven'"
                    achievement-map >
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
        <md-tab label="Achievements">
          <md-content>
            <br>
            <table class="table table-bordered table-striped tableAchivements">
              <thead>
                <tr>
                  <td></td>
                  <td class="tdImgPlayer" 
                      ng-repeat="player in ctrl.getPlayers()">
                    <div layout="row" layout-sm="column" 
                         layout-align="space-around">
                      <md-progress-circular ng-show="player.updating"  
                                            md-mode="indeterminate">

                      </md-progress-circular>
                    </div>
                    <img  ng-hide="player.updating"  
                          class="achievementsImgAvatar" 
                          src="{{player.avatar_medium}}"/>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr class="trOdd">
                  <td>Name</td>
                  <td 
                      ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.steam_name">
                  </td>
                </tr>
                <tr class="trEven">
                  <td>Update state</td>
                  <td 
                      ng-repeat="player in ctrl.getPlayers()"
                      ng-bind="player.update_state">
                  </td>
                </tr>
                <tr class="trOdd">
                  <td>Other Achievements</td>
                  <td 
                      ng-repeat="player in ctrl.getPlayers()">
                    {{player.nb_achievements_classic}} / {{ctrl.getNbAchievementsClassic()}}
                  </td>
                </tr>
                <tr>
                  <td class="emptyRow"></td>
                </tr>
                <tr ng-repeat="achievement in ctrl.getAchievementsClassicList()"  
                    ng-class-odd="'trOdd'" ng-class-even="'trEven'" achievement-classic>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
        <md-tab label="Stats">
          <md-content>
            <br>
            <table class="table table-bordered table-striped tableAchivements">
              <thead>
                <tr>
                  <td></td>
                  <td class="tdImgPlayer" 
                      ng-repeat="player in ctrl.getPlayers()">
                    <div layout="row" layout-sm="column" 
                         layout-align="space-around">
                      <md-progress-circular ng-show="player.updating"  
                                            md-mode="indeterminate">

                      </md-progress-circular>
                    </div>
                    <img  ng-hide="player.updating"  
                          class="achievementsImgAvatar" 
                          src="{{player.avatar_medium}}"/>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr class="trOdd">
                  <td class="statName">Name</td>
                  <td 
                    ng-repeat="player in ctrl.getPlayers()"
                    ng-bind="player.steam_name">
                  </td>
                </tr>
                <tr class="trEven">
                  <td>Update state</td>
                  <td
                    ng-repeat="player in ctrl.getPlayers()"
                    ng-bind="player.update_state">
                  </td>
                </tr>
                <tr>
                  <td class="emptyRow"></td>
                </tr>
                <tr ng-repeat="stat in ctrl.getStatsList()"  ng-class-odd="'trOdd'" ng-class-even="'trEven'"
                    stat>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <div layout="row" flex layout-sm="column" ng-show="ctrl.getNbPlayers() === 0">
    <p>Add existing players to the stat page with the search bar.</p>
  </div>
</md-content>
